@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background-image: url("halloween.png");
  background-color: #141414;
  background-position: center;
  background-size: cover;
  color: white;
}

img#candy {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.zoom {
  height: 15vw;
  width: 15vw;
}

.zoom:active {
  height: 20vw;
  width: 20vw;
  font-size: calc((40/35) * 10);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#displayParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 6vw;
  text-align: left;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#pageTitleParent {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  height: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pageTitle {
  width: 30vw;
  margin: auto;
  cursor: default;
  user-select: none;
  line-height: 5vw;
  font-size: 3vw;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 1vw;
}

#pageAuthor {
  cursor: default;
  user-select: none;
  line-height: 1.5vw;
  font-size: 1.5vw;
}

#scoreParent {
  cursor: default;
  user-select: none;
  line-height: 2vw;
  font-size: 2vw;
}

#score {
  font-weight: bold;
  line-height: 4vw;
  font-size: 4vw;
}

#cpsParent {
  cursor: default;
  user-select: none;
  line-height: 1.5vw;
  font-size: 1.5vw;
}

#cps {
  font-weight: bold;
}

#upgradesParent {
  position: fixed;
  right: 0.25vw;
  top: 0;
  height: 100%;
  width: 25vw;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.upgrade {
  width: 100%;
  height: 12vw;
  border: white 0.1vw solid;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.contents {
  padding: 1vw;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.title {
  font-size: 1.6vw;
}

.description {
  font-size: 1vw;
}

.price {
  font-size: 1vw;
  font-weight: bold;
}

.quantity {
  font-size: 1vw;
}

.buttons {
  float: right;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 1vw;
  font-weight: bold;
  width: 100%;
  height: calc(100%/3);
  font-family: Roboto, sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.button-valid {
  border: white solid 0.1vw;
  color: white;
}

.button-invalid {
  border: gray solid 0.1vw;
  color: gray;
  cursor: default;
}

#reset {
  position: fixed;
  left: 0.1vw;
  bottom: 0.1vw;
  width: 10vw;
  height: 4vw;
  border: solid red 1px;
  background-color: transparent;
  color: red;
  font-size: 1.5vw;
  font-weight: bold;
  cursor: pointer;
}